/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap");

*,
*::before,
*after {
  box-sizing: border-box;
  margin: 0;
}
.user {
  font-family: "Sansita", sans-serif;
  font-weight: 300;
  background-color: #87bab6ee;
  color: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.user:hover {
  transform: scale(1.02);
}

p {
  font-size: 1.2rem;
}

.name {
  width: 35%;
  margin-left: 4rem;
}

p.email {
  /* margin-right:5rem; */
  width: 35%;
  justify-content: center;
}
.image {
  width: 20%;
  height: 4rem;
  margin: 1.2rem 0rem 1.2rem 4rem;
  /* flex-grow:1; */
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}

h1 {
  font-family: "Sansita", sans-serif;
  font-size: 3rem;
  margin: 3rem 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}

body {
  background-image: url("./pexels-lukas-1420702.jpg");
  background-size: cover;
  background-color: #1a2c2cc6;
  background-blend-mode: overlay;
}

/* responsiveness  */

@media (max-width: 490px) {
  .user {
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .image {
    width: 3rem;
    height: 3rem;
    margin: 1.2rem 0rem 0rem 0rem;
  }

  img {
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  p {
    font-size: 14px;
    text-align: center;
  }

  .name {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }

  p.email {
    width: 80%;
    margin-bottom: 2rem;
  }

  h1 {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margin: 1.5rem 0;
  }
}
